* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fafafa;
}
.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  user-select: none;
}
h1 {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 400;
  text-align: center;
}
.app__register,
.app__login,
.app__user {
  margin-top: 30px;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 2px 2px black;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  justify-content: center;
}
.app__register > input,
.app__login > input {
  margin: 10px;
  outline: none;
  border: 1px solid lightseagreen;
  padding: 10px;
  border-radius: 5px;
}
.app__register > button,
.app__login > button,
.app__user > button {
  width: 100%;
  margin: 10px auto;
  max-width: 150px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}
.app__register > p,
.app__login > p {
  font-size: 13px;
  color: red;
  text-align: center;
  font-style: italic;
}
