form {
  width: 100%;
  padding: 20px;
  background-color: white;
  max-width: 500px;
  border-radius: 5px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}
form > button {
  width: fit-content;
  padding: 5px 20px;
  outline: none;
  border-radius: 5px;
  font-size: 1rem;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}
form > button:hover {
  background-color: black;
  color: white;
}
